.light1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.light1-light1 {
  width: 395px;
  height: 844px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.light1-i-phone141 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.light1-navlink {
  display: contents;
}
.light1-container1 {
  top: 493px;
  left: 27px;
  width: 353px;
  height: 189.66666793823242px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  text-decoration: none;
}
.light1-ellipse2 {
  top: 56px;
  left: 108px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.light1-ellipse3 {
  top: 56px;
  left: 147px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.light1-text {
  top: 55px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-text02 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-rectangle3 {
  top: 1px;
  right: 98px;
  width: 54px;
  height: 22px;
  position: absolute;
  border-radius: 10px;
}
.light1-text04 {
  top: 4px;
  color: rgba(255, 255, 255, 1);
  right: 113.67708206176758px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-rectangle4 {
  top: 1px;
  right: 0px;
  width: 77px;
  height: 22px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.light1-text06 {
  top: 4px;
  color: rgba(0, 0, 0, 1);
  right: 14.40625px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-rectangle6 {
  left: 95px;
  width: 45px;
  bottom: 46.66666793823242px;
  height: 30px;
  position: absolute;
  border-radius: 10px;
}
.light1-text08 {
  left: 104px;
  color: rgba(0, 0, 0, 1);
  bottom: 53px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-rectangle7 {
  left: 147px;
  width: 45px;
  bottom: 46.66666793823242px;
  height: 30px;
  position: absolute;
  border-radius: 10px;
}
.light1-text10 {
  left: 156px;
  color: rgba(0, 0, 0, 1);
  bottom: 53px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-rectangle8 {
  right: 109px;
  width: 45px;
  bottom: 46.66666793823242px;
  height: 30px;
  position: absolute;
  border-radius: 10px;
}
.light1-text12 {
  color: rgba(0, 0, 0, 1);
  right: 119.02083206176758px;
  bottom: 53px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-rectangle9 {
  right: 53px;
  width: 45px;
  bottom: 46.66666793823242px;
  height: 30px;
  position: absolute;
  border-radius: 10px;
}
.light1-text14 {
  color: rgba(255, 255, 255, 1);
  right: 58.5625px;
  bottom: 53px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-text16 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  bottom: 55px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-rectangle5 {
  top: 1px;
  left: 104px;
  width: 77px;
  height: 22px;
  position: absolute;
}
.light1-text18 {
  top: 3px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-text20 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-navlink1 {
  display: contents;
}
.light1-rectangle81 {
  top: 258px;
  left: 28px;
  width: 156px;
  height: 157px;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 10px;
  text-decoration: none;
}
.light1-text22 {
  top: 330px;
  left: 92px;
  color: #000000;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-androidstatusbar {
  top: 9px;
  left: 16px;
  width: 364px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.light1-background {
  top: 0px;
  left: 0px;
  width: 364px;
  height: 22px;
  position: absolute;
}
.light1-icons {
  gap: 6px;
  top: 5px;
  left: 281.477783203125px;
  width: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.light1-cellular {
  width: 18px;
  height: 12px;
}
.light1-wifi {
  width: 16px;
  height: 12px;
}
.light1-battery {
  width: 24px;
  height: 12px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.light1-union {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 12px;
  opacity: 0.40;
  position: absolute;
}
.light1-capacity {
  top: 2.117645263671875px;
  left: 1.9730321168899536px;
  width: 18px;
  height: 8px;
  position: absolute;
  border-radius: 1.3333333730697632px;
}
.light1-text24 {
  top: 3.6666667461395264px;
  left: 12.133333206176758px;
  color: var(--dl-color-wireframes_colors_text-legibility-highemphasis);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-text26 {
  top: 338px;
  left: 239px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-rectangle2 {
  top: 837px;
  left: 135px;
  width: 120px;
  height: 7px;
  position: absolute;
  border-radius: 10px;
}
.light1-text28 {
  top: 60px;
  left: 144px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-ellipse1 {
  top: 117px;
  left: 149px;
  width: 92px;
  height: 92px;
  position: absolute;
}
.light1-androidstatusbar1 {
  top: 9px;
  left: 16px;
  width: 364px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.light1-background1 {
  top: 0px;
  left: 0px;
  width: 364px;
  height: 22px;
  position: absolute;
}
.light1-icons1 {
  gap: 6px;
  top: 5px;
  left: 281.477783203125px;
  width: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.light1-cellular1 {
  width: 18px;
  height: 12px;
}
.light1-wifi1 {
  width: 16px;
  height: 12px;
}
.light1-battery1 {
  width: 24px;
  height: 12px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.light1-union1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 12px;
  opacity: 0.40;
  position: absolute;
}
.light1-capacity1 {
  top: 2.117645263671875px;
  left: 1.9730321168899536px;
  width: 18px;
  height: 8px;
  position: absolute;
  border-radius: 1.3333333730697632px;
}
.light1-text30 {
  top: 3.6666667461395264px;
  left: 12.133333206176758px;
  color: var(--dl-color-wireframes_colors_text-legibility-highemphasis);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-androidnavbar {
  top: 796px;
  left: 0px;
  width: 390px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.light1-rectangle21 {
  top: 837px;
  left: 135px;
  width: 120px;
  height: 7px;
  position: absolute;
  border-radius: 10px;
}
.light1-vector {
  top: 139px;
  left: 171px;
  width: 49px;
  height: 49px;
  position: absolute;
}
.light1-navlink2 {
  display: contents;
}
.light1-container2 {
  top: 258px;
  left: 211px;
  width: 156px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  text-decoration: none;
}
.light1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 157px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.light1-text32 {
  top: 67px;
  left: 60px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-group2 {
  top: 656px;
  left: 122px;
  width: 47px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.light1-text34 {
  top: 5px;
  left: 18px;
  color: rgb(0, 0, 0);
  height: auto;
  opacity: 0.50;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-navlink3 {
  display: contents;
}
.light1-vector1 {
  top: 60px;
  left: 36px;
  width: 20px;
  height: 35px;
  position: absolute;
  text-decoration: none;
}
.light1-text35 {
  top: 95px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-text37 {
  top: 95px;
  left: 323px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.light1-navlink4 {
  display: contents;
}
.light1-vector2 {
  top: 60px;
  left: 328px;
  width: 29px;
  height: 32px;
  position: absolute;
  text-decoration: none;
}
