.home-error-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-error-home {
  width: 395px;
  height: 844px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-error-i-phone141 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-error-androidstatusbar {
  top: 9px;
  left: 16px;
  width: 364px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-error-background {
  top: 0px;
  left: 0px;
  width: 364px;
  height: 22px;
  position: absolute;
}
.home-error-icons {
  gap: 6px;
  top: 5px;
  left: 281.477783203125px;
  width: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-error-cellular {
  width: 18px;
  height: 12px;
}
.home-error-wifi {
  width: 16px;
  height: 12px;
}
.home-error-battery {
  width: 24px;
  height: 12px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-error-union {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 12px;
  opacity: 0.40;
  position: absolute;
}
.home-error-capacity {
  top: 2.117645263671875px;
  left: 1.9730321168899536px;
  width: 18px;
  height: 8px;
  position: absolute;
  border-radius: 1.3333333730697632px;
}
.home-error-text {
  top: 3.6666667461395264px;
  left: 12.133333206176758px;
  color: var(--dl-color-wireframes_colors_text-legibility-highemphasis);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-error-rectangle2 {
  top: 837px;
  left: 135px;
  width: 120px;
  height: 7px;
  position: absolute;
  border-radius: 10px;
}
.home-error-group8 {
  top: 624px;
  left: 28px;
  width: 156px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-error-rectangle1 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 157px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.home-error-text02 {
  top: 87px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.home-error-vector {
  top: 18px;
  left: 47px;
  width: 63px;
  height: 54px;
  position: absolute;
}
.home-error-text07 {
  top: 584px;
  left: 146px;
  color: #ff0000;
  display: none;
  position: absolute;
}
.home-error-group9 {
  top: 624px;
  left: 207px;
  width: 156px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-error-container1 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-error-rectangle11 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 157px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.home-error-text08 {
  left: 52px;
  color: rgba(0, 0, 0, 1);
  bottom: 40.33333206176758px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-error-vector1 {
  top: 20px;
  left: 46px;
  width: 63px;
  height: 59px;
  position: absolute;
}
.home-error-group6 {
  top: 408px;
  left: 28px;
  width: 335px;
  height: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-error-group11 {
  top: 0px;
  left: 179px;
  width: 156px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-error-container2 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-error-rectangle12 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 157px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.home-error-vector2 {
  top: 20px;
  left: 55px;
  width: 45px;
  height: 56px;
  position: absolute;
}
.home-error-text10 {
  left: 44px;
  color: rgba(0, 0, 0, 1);
  bottom: 51.33333206176758px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-error-container3 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-error-rectangle13 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 157px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.home-error-text12 {
  left: 23px;
  color: rgba(0, 0, 0, 1);
  bottom: 51.33333206176758px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-error-vector3 {
  top: 25px;
  left: 47px;
  width: 63px;
  height: 46px;
  position: absolute;
}
.home-error-text17 {
  top: 117px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.home-error-text19 {
  top: 117px;
  left: 218px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.home-error-text21 {
  top: 339px;
  left: 218px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.home-error-text23 {
  top: 339px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.home-error-rectangle3 {
  top: 238px;
  left: 28px;
  width: 335px;
  height: 149px;
  position: absolute;
  border-radius: 10px;
}
.home-error-vector4 {
  top: 61px;
  left: 28px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.home-error-text25 {
  top: 295px;
  left: 83px;
  color: rgba(255, 255, 255, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.home-error-text27 {
  top: 298px;
  left: 274px;
  color: rgba(255, 255, 255, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.home-error-icbaselinelogout {
  top: 57px;
  left: 326px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.home-error-text29 {
  top: 92px;
  left: 319px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.home-error-text31 {
  top: 93px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-error-text33 {
  top: 205px;
  left: 146px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-error-text35 {
  top: 117px;
  left: 93px;
  color: rgba(0, 0, 0, 1);
  width: 205px;
  height: auto;
  position: absolute;
  font-size: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-error-text37 {
  top: 548px;
  left: 44px;
  position: absolute;
  font-size: 20px;
  text-align: center;
}
.home-error-text38 {
  color: #ff0909;
}
.home-error-text39 {
  color: #ff0909;
}
.home-error-text40 {
  color: #ff0909;
}
.home-error-text41 {
  color: #ff0909;
}
.home-error-text42 {
  color: #ff0909;
}
.home-error-navlink {
  top: 624px;
  left: 130px;
  width: 125px;
  height: 41px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
